	@font-face {
    font-family: 'jenna_sueregular';
    src: url('../fontface/jennasue.eot');
    src: url('../fontface/jennasue.eot?#iefix') format('embedded-opentype'),
         url('../fontface/jennasue.woff2') format('woff2'),
         url('../fontface/jennasue.woff') format('woff'),
         url('../fontface/jennasue.ttf') format('truetype'),
         url('../fontface/jennasue.svg#jenna_sueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
	
		/*.menBG{
				background-image: url("../images/men-women.JPG");
				background-size:  cover;
			 	background-repeat: no-repeat; 
 				position: absolute;
			    left: 40%;
			    margin-left: -250px;
						
 				height:620px; 
    			width:1024px;
    			background-size:  cover;
			 	background-repeat: no-repeat;  
			 	background-position: absolute; 
    			
			}*/
			
			/*.womenBG{
				background-image:url('../images/women.jpg'); 
				background-size:cover;
				background-position:100% 100%;
				height:1008px;
				width:980px;*/
				
/* 			    background-image: url("../images/women.jpg");  */
/* 			 	background-repeat: no-repeat;  */
/*  				position: relative; */
/* 			    left: 40%; */
/* 			    margin-left: -250px;		 */
/*  				height:620px;  */
/*     			width:1024px; */
/*     			background-size:  cover; */
/* 			 	background-repeat: no-repeat;   */
/* 			 	background-position: absolute;  
    			
			}*/
			
			/*.copeBG {
				background-image: url('../images/cope.jpg');
				background-size:cover;
				background-position:100% 100%;
				height:1008px;
				width:980px;*/
/* 				background-size:  cover; */
/* 			 	background-repeat: no-repeat;   */
			 	
/* 			 	position: absolute; */
/* 			    left: 40%; */
/* 			    margin-left: -250px; */
						
/*  				height:620px;  */
/*     			width:1024px; */
/*     			background-size:  cover; */
/* 			 	background-repeat: no-repeat;   */
/* 			 	background-position: absolute;  */
				
			}
			
/*.quote {
    background: rgba(200, 54, 54);
}*/
			/** End: to style navigation tab **/
			
.quote{ margin:20px; border:1px solid #000}
  .womenheading{
  	font-family: "jenna_sueregular";
    font-size: 46px;
    font-weight: bold;
    padding: 0 20px;
    text-align: center; margin:0
  }
  
  