		.menBG{
				background-image: url("../images/men-women.JPG"");
				background-size:  cover;
			 	background-repeat: no-repeat; 
 				position: absolute;
			    left: 40%;
			    margin-left: -250px;
						
 				height:620px; 
    			width:1024px;
    			background-size:  cover;
			 	background-repeat: no-repeat;  
			 	background-position: absolute; 
    			
			}
			
			.womenBG{
				background-image:url('../images/women.jpg'); 
				background-size:cover;
				background-position:100% 100%;
				height:1008px;
				width:980px;
				
/* 			    background-image: url("../images/women.jpg");  */
/* 			 	background-repeat: no-repeat;  */
/*  				position: relative; */
/* 			    left: 40%; */
/* 			    margin-left: -250px;		 */
/*  				height:620px;  */
/*     			width:1024px; */
/*     			background-size:  cover; */
/* 			 	background-repeat: no-repeat;   */
/* 			 	background-position: absolute;  */
    			
			}
			
			.copeBG {
				background-image: url('../images/cope.jpg');
				background-size:cover;
				background-position:100% 100%;
				height:1008px;
				width:980px;
/* 				background-size:  cover; */
/* 			 	background-repeat: no-repeat;   */
			 	
/* 			 	position: absolute; */
/* 			    left: 40%; */
/* 			    margin-left: -250px; */
						
/*  				height:620px;  */
/*     			width:1024px; */
/*     			background-size:  cover; */
/* 			 	background-repeat: no-repeat;   */
/* 			 	background-position: absolute;  */
				
			}
			
			.quote {
    background: rgba(200, 54, 54);
}
			/** End: to style navigation tab **/
			